[submodule "StringsPlugin/FormatDialogs"]
	path = StringsPlugin/FormatDialogs
	url = https://github.com/horsicq/FormatDialogs
[submodule "StringsPlugin/FormatWidgets"]
	path = StringsPlugin/FormatWidgets
	url = https://github.com/horsicq/FormatWidgets
[submodule "StringsPlugin/XProcess"]
	path = StringsPlugin/XProcess
	url = https://github.com/horsicq/XProcess
[submodule "StringsPlugin/Controls"]
	path = StringsPlugin/Controls
	url = https://github.com/horsicq/Controls.git
[submodule "StringsPlugin/QHexView"]
	path = StringsPlugin/QHexView
	url = https://github.com/horsicq/QHexView.git
[submodule "StringsPlugin/Formats"]
	path = StringsPlugin/Formats
	url = https://github.com/horsicq/Formats.git
[submodule "StringsPlugin/XDemangle"]
	path = StringsPlugin/XDemangle
	url = https://github.com/horsicq/XDemangle.git
[submodule "StringsPlugin/XShortcuts"]
	path = StringsPlugin/XShortcuts
	url = https://github.com/horsicq/XShortcuts.git
[submodule "StringsPlugin/XLLVMDemangler"]
	path = StringsPlugin/XLLVMDemangler
	url = https://github.com/horsicq/XLLVMDemangler.git
