[submodule "StringsPlugin/FormatDialogs"]
	path = StringsPlugin/FormatDialogs
	url = git@github.com:horsicq/FormatDialogs.git
[submodule "StringsPlugin/FormatWidgets"]
	path = StringsPlugin/FormatWidgets
	url = git@github.com:horsicq/FormatWidgets.git
